:root {

  --primaryColor: rgb(65, 25, 127);

  --secundaryColor: rgb(0, 213, 226);

  --radius: 5px;

  --shadow: 0 0 7px rgba(0, 0, 0, 0.2);

  --mainWidth: 73%;

  --secundaryWidth: 27%;
}

* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Epilogue, sans-serif;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.container-title {
  width: var(--mainWidth);
  background-color: var(--primaryColor);
  height: 90px;
  display: flex;
  align-items: center;
  padding: 30px;
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d!important;
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0)!important;
  backface-visibility: hidden!important;
  -webkit-backface-visibility: hidden!important;
}

.container-cartTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secundaryColor);
  width: var(--secundaryWidth);
  height: 90px;
  padding: 30px;
  cursor: pointer;
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d!important;
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0)!important;
  backface-visibility: hidden!important;
  -webkit-backface-visibility: hidden!important;
}

.container-cartTitle .cart__title {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
}

.cart__title i {
  margin-right: 12px;
}

.items .item_id {
  display: none;
}

.item_currency {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 20px;
}

.main-container {
  display: flex;
  width: 100%;
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d!important;
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0)!important;
  backface-visibility: hidden!important;
  -webkit-backface-visibility: hidden!important;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  width: var(--mainWidth);
  flex-wrap: wrap;
  padding-top: 100px;
  padding-left: 30px;
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d!important;
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0)!important;
  backface-visibility: hidden!important;
  -webkit-backface-visibility: hidden!important;
}

.search {
  display: flex;
  top: 125px;
  width: var(--mainWidth);
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d!important;
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0)!important;
  backface-visibility: hidden!important;
  -webkit-backface-visibility: hidden!important;
}

.label {
  display: flex;
}

.input {
  font-size: 16px;
  width: 300px;
}

.button-search {
  font-size: 16px;
  padding: 7px;
  color: white;
  background-color: var(--primaryColor);
  border: 0;
  border-radius: var(--radius);
  margin-left: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  margin-left: 0;
  width: 272px;;
  /* width: 30.1%; */
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  background-color: white;
  padding: 12px;
  margin-right: 25px;
  margin-bottom: 20px;
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d!important;
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0)!important;
  backface-visibility: hidden!important;
  -webkit-backface-visibility: hidden!important;
}

.move {
  margin-right: 35px;
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d!important;
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0)!important;
  backface-visibility: hidden!important;
  -webkit-backface-visibility: hidden!important;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  width: 234px;
  min-height: 44px;
  text-align: left;
  font-size: 15px;
  box-sizing: border-box;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: var(--secundaryColor);
  border: 0;
  width: 248px;
  height: 30px;
  cursor: pointer;
  color: white;
  border-radius: var(--radius);
  font-style: 1em;
  font-weight: 700;
  font-family: Epilogue, sans-serif;
}

.item .item__add:hover {
  background-color: rgb(18, 185, 194);
}

.cart {
  position: absolute;
  display: flex;
  width: var(--secundaryWidth);
  flex-flow: column wrap;
  background-color: rgb(243, 249, 251);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  height: 90vh;
  right: 0;
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d!important;
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0)!important;
  backface-visibility: hidden!important;
  -webkit-backface-visibility: hidden!important;
}

.active {
  right: -100%;
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d!important;
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0)!important;
  backface-visibility: hidden!important;
  -webkit-backface-visibility: hidden!important;
} 

.cart .cart__items {
  width: 100%;
  height: 430px;
  overflow-y: scroll;
  list-style: none;
}

.cart .cart__items::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(244, 244, 244);
}

.cart .cart__items::-webkit-scrollbar-track {
  background-color: rgb(244, 244, 244);
}

.cart .cart__items::-webkit-scrollbar-thumb {
  background-color: rgb(202, 198, 198);
  border-radius: 4px;
}

.title {
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d!important;
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0)!important;
  backface-visibility: hidden!important;
  -webkit-backface-visibility: hidden!important;
}

.cart__title:last-child {
  user-select: none;
}

.cart__title .name {
  display: none;
}

.cart__item {
  margin: 0 23px;
  display: flex;
  width: var(--secundaryWidth);
  height: 107px;
  align-items: center;
  font-size: 12px;
}

.cart__item img {
  order: -1;
  border-radius: 50%;
  margin-right: 15px;
}

.cart__item div p {
  margin-bottom: 10px;
  width: 165px;
  height: 14px;
  padding-top: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cart__item div span {
  font-size: 20px;
  font-weight: 700;
}

.cart__item div:nth-of-type( 2 ) {
  align-self: flex-start;
  margin-top: 10px;
  cursor: pointer;
}

.empty_cart {
  width: 71.5%;
  height: 30px;
  margin: 0 auto;
  background-color: var(--primaryColor);
  cursor: pointer;
  border-radius: var(--radius);
  color: white;
  border: 0;
  font-weight: 600;
}

.empty_cart:hover {
  background-color: rgb(50, 16, 100);
}

.prices {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 40px;
  width: 100%;
}

.cart .prices p {
  margin-left: 6px;
  font-size: 20px;
  font-weight: 700;
}

.item_price {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 27px;
  margin-left: 10px;
}

.loading {
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  width: 270px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  background-color: white;
  padding: 12px;
  margin-right: 25px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.p1[ data-count ]:after {
  position: absolute;
  right: 10%;
  top: 8%;
  content: attr(data-count);
  font-size: 40%;
  padding: 0.2em;
  border-radius: 50%;
  line-height: 1em;
  color: white;
  background-color: rgba(255, 0, 0, 0.85);
  text-align: center;
  min-width: 1em;
  font-weight: 700;
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d!important;
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0)!important;
  backface-visibility: hidden!important;
  -webkit-backface-visibility: hidden!important;
}

.home {
  display: none;
  position: fixed;
  right: 5px;
  bottom: 10px;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

img {
  user-select: none;
}

.home:hover {
  width: 50px;
  height: 50px;
}
